.login{
    margin: 0 auto;
}


.login label{
    margin: 10px 0;
}

.login input{
    padding: 5px;
}

.login .box-check{
    justify-content: flex-end;
}

.login .box-check label{
    margin-left: 5px;
}

.login .box-error{
    margin: 20px 0;
}
